body {
    background-color: black;
    color: #ff0000;
}

.font {
    font-family: LetusPray-Regular;
    letter-spacing: 4px;
    font-size: 30px;
}

#start {
    text-align: center;
    grid-column: 1 / 7;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 50px 50px;
    grid-gap: 10px;
    text-align: center;

}

#wins {
    grid-column: 1 / 3;
}

#lives {
    grid-column: 3 / 5;
}

#mistakes { 
    grid-column: 5 / 7;
}

p {
    text-align: center;
    font-size: 30px;
}

#topic {
    display: block;
    font-size: 30px;
}

#box {
    text-align: center;
    width: 30%;
    margin: auto auto;
}

@font-face {
    font-family: LetusPray-Regular;
    src: url(https://raw.githubusercontent.com/kpsloan/Hangman/master/assets/fonts/OptimusPrinceps.woff);

}

li {
    float: left;
    display: block;
}

